* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
}

header {
    background: linear-gradient(to right, #672280, #A626D3);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
    color: white;
}

.header-left {
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.header-left > img {
    width: 2em;
    height: 1.75em;
}

.form-container {
    padding: 2em;
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    
}

.top-text, .bottom-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 0 0 48%;

}

.top-text > input, .bottom-text > input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.0625em solid #D1D5DB;
    color: #6B7280;
    font-family: "Karla", sans-serif;
}

.form-btn {
    width: 100%;
    padding: 0.75em;
    background: linear-gradient(to right, #672280, #A626D3);
    border: none;
    color: white;
    border-radius: 0.5em;
}

.meme-container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.meme-container > img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.meme-container > h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow:
            -0.0625em -0.0625em 0 #000,
            0.0625em -0.0625em 0 #000,
            -0.0625em 0.0625em 0 #000,
            0.0625em 0.0625em 0 #000;
    font-size: 2rem;
}

.img-top-text {
    top: 0;
    padding-top: 0.5em;
}

.img-bottom-text {
    bottom: 0;
    padding-bottom: 0.5em;
}